main {
display: grid;
grid-template-areas:
"head head head"
"side content content"
"foot foot foot"
}

header { grid-area: head; }
article { grid-area: content; }
aside { grid-area: side; }
footer { grid-area: foot; }

grid-template-rows: 50px auto 50px;
